
1. Python program to interchange first and last elements in a list

In [ ]:
l=[1,2,3,4,5,6]
l[0],l[-1]=l[-1],l[0]
print(l)

[6, 2, 3, 4, 5, 1]

2. Python program to swap two elements in a list

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
a1=2
a2=5
l[a1],l[a2]=l[a2],l[a1]
print(l)

[1, 2, 6, 4, 5, 3, 7, 8, 9]

3. Python program to remove Nth occurrence of the given word
list - ["can", "you",  "can", "a", "can" "?"]
       word = can, N = 1
Output: list - ["you",  "can", "a", "can" "?"]

In [ ]:
list1=["can", "you",  "can", "a", "can", "?"]
word="can"
N=2

count=0
for i in range(len(list1)):

    if(list1[i]==word):
        count+=1
    if(count==N):
        list1.pop(i)
        break
print(list1)

['can', 'you', 'a', 'can', '?']

4. Python  Ways to find length of list

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print(len(l))

9

5. Python  Ways to check if element exists in list

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
el=4
if el in l:
  print("element in string")
else:
   print("element not in string")

element in string

6. Different ways to clear a list in Python

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print("before clearing      :",l)
l.clear()
print("after clearing       :",l)

before clearing      : [1, 2, 3, 4, 5, 6, 7, 8, 9]
after clearing       : []

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print("before clearing      :",l)
l=l*0
print("after clearing       :",l)

before clearing      : [1, 2, 3, 4, 5, 6, 7, 8, 9]
after clearing       : []

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print("before clearing      :",l)
l=[]
print("after clearing       :",l)

before clearing      : [1, 2, 3, 4, 5, 6, 7, 8, 9]
after clearing       : []

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print("before clearing      :",l)
del l[0:len(l)]
print("after clearing       :",l)

before clearing      : [1, 2, 3, 4, 5, 6, 7, 8, 9]
after clearing       : []

7. Python Reversing a List

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print("before reversing     :",l)
l.reverse()
print("after reversing       :",l)

before reversing     : [1, 2, 3, 4, 5, 6, 7, 8, 9]
after reversing       : [9, 8, 7, 6, 5, 4, 3, 2, 1]

8. Python  Cloning or Copying a list

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print("main string:",l)
l2=l.copy()
print("copied string:",l2)

main string: [1, 2, 3, 4, 5, 6, 7, 8, 9]
copied string: [1, 2, 3, 4, 5, 6, 7, 8, 9]


9. Python | Count occurrences of an element in a list

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
el=6
n=l.count(el)
print(n)

3

10. Python program to find sum of elements in list
#can use sum
 or can use list traversal

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
s=sum(l)
print(s)

79

11. Python | Multiply all numbers in the list
#can use list traversal

In [ ]:
l=[1,2,3,4,5,6]
mul=1
for i in l:
  mul=mul*i
print(mul)

720

12. Python program to find smallest number in a list
#can use min function

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
print("minimum of elements in list :",min(l))

minimum of elements in list : 1

13. Python program to find largest number in a list
#can use max function

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
print("maximum of elements in list :",max(l))

maximum of elements in list : 9

14. Python program to find second largest number in a list
#one way is sort and find the second largest number

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
m=max(l)
for i in range(m-1,min(l)-1,-1):
  if i in l:
    print(i,"is the second largtst number")
    break

8 is the second largtst number

15. Python program to find N largest elements from a list
#hint sort the list and find the N largest numbers

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6,23,64,75,83,44]
n=6
flag=0
for i in range(max(l),min(l)-1,-1):
  if flag>=n:
    break
  if i in l:
    flag=flag+1
    print(i)

83
75
64
44
23
9

16. Python program to print even numbers in a list

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
for i in l:
  if i%2==0:
    print(i)

2
4
6
8
8
6
6

17. Python program to print odd numbers in a List

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
for i in l:
  if i%2!=0:
    print(i)

1
3
5
7
9
7
7

18. Python program to print all even numbers in a range

In [ ]:
a=int(input("Enter lower range: "))
b=int(input("Enter upper range: "))
for i in range(a,b+1):
  if i%2==0:
    print(i)

Enter lower range: 10
Enter upper range: 20
10
12
14
16
18
20

19. Python program to print all odd numbers in a range

In [ ]:
a=int(input("Enter lower range: "))
b=int(input("Enter upper range: "))
for i in range(a,b+1):
  if i%2!=0:
    print(i)

Enter lower range: 10
Enter upper range: 20
11
13
15
17
19

20. Python program to count Even and Odd numbers in a List

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
e=0
o=0
for i in l:
  if i%2==0:
    e+=1
  if i%2==0:
    o+=1
print("number of even numbers is ",e,"\nnumber of odd numbers is ",o)

number of even numbers is  7
number of odd numbers is  7

21. Python program to print positive numbers in a list

In [ ]:
l=[1,2,3,4,5,6,-7,-8,9,-8,7,-6,7,6]
for i in l:
  if i>=0:
    print(i)

1
2
3
4
5
6
9
7
7
6

22. Python program to print negative numbers in a list

In [ ]:
l=[1,2,3,4,5,6,-7,-8,9,-8,7,-6,7,6]
for i in l:
  if i<0:
    print(i)

-7
-8
-8
-6

23. Python program to print all positive numbers in a range

In [ ]:
a=int(input("Enter lower range: "))
b=int(input("Enter upper range: "))
for i in range(a,b+1):
  if i>=0:
    print(i)

Enter lower range: -10
Enter upper range: 12
0
1
2
3
4
5
6
7
8
9
10
11
12

24. Python program to print all negative numbers in a range

In [ ]:
a=int(input("Enter lower range: "))
b=int(input("Enter upper range: "))
for i in range(a,b+1):
  if i<0:
    print(i)

Enter lower range: -5
Enter upper range: 5
-5
-4
-3
-2
-1

25. Python program to count positive and negative numbers in a list

In [ ]:
l=[1,2,3,4,-5,-6,7,8,-9,8,7,-6,7,-6]
n=0
p=0
for i in l:
  if i<0:
    n+=1
  if i>=0:
    p+=1
print("number of positive numbers is ",p,"\nnumber of negetive numbers is ",n)

number of positive numbers is  9
number of negetive numbers is  5

26. Remove multiple elements from a list in Python

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
l2=[]
for i in l:
  if i not in l2:
    l2.append(i)

l=l2
print("list after removing elements is ",l)

list after removing elements is  [1, 2, 3, 4, 5, 6, 7, 8, 9]

28. Python | Program to print duplicates from a list of integers

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
l2=[]
for i in l:
  flag=0
  if i not in l2:
    for j in l:
      if i==j:
        flag=flag+1
  if flag>1:
    l2.append(i)
print(l2)

[6, 7, 8]

29. Python program to find Cumulative sum of a list

In [ ]:
l=[10, 20, 30, 40, 50]
cl=[]
n=len(l)
for i in range(0,n+1):
  cl.append(sum(l[0:i]))
cl.pop(0)
print("cumulative sum list is ",cl)

cumulative sum list is  [10, 30, 60, 100, 150]

30. Break a list into chunks of size N in Python.
last chunk can be less than N.

In [ ]:
l=[1,2,3,4,5,6,7,8,9,8,7,6,7,6]
ln=len(l)
n=int(input("enter the size of chunks :"))
for i in range(0,ln,n):
  flag=1
  while(flag<=n):
    print(l[i])
    flag+=1
    i+=1
  print("\n")

enter the size of chunks :2
1
2


3
4


5
6


7
8


9
8


7
6


7
6