

Write a Python program that converts temperature in Celsius to Fahrenheit and vice versa. Implement the requirements using functions.
1) Write a function defnition to accept temperature in Fahrenheit and return the temperature in Celsius
2) Write a function defnition to accept temperature in Celsius and return the temperature in Fahrenheit

Hint: C= (F-32)*(5/9)
Invoke the function and display the tempeature in calling block.

In [ ]:
def cel(x):
    return(1.8*x+32)

def fahr(y):
    return(0.55*y-17.6)

a=float(input(" Enter temperature : "))
b=int(input(" Enter unit of temperature\nenter 1 for celcious 2 for fahrenheit: "))

if b==1:
    ans=cel(a)
    print("Temperature in Fahrenheit is ",ans," F")
elif b==2:
    ans=fahr(a)
    print("Temperature in Celcius is ",ans,"C")
else:
  print("enter 1 or 2")

 Enter temperature : 36
 Enter unit of temperature
enter 1 for celcious 2 for fahrenheit: 1
Temperature in Fahrenheit is  96.8  F

Write a pyhton function, find_square() that accepts an integer number, n and returns the square of n.
Invoke the function and display the square of the number.

In [ ]:
def find_square(N):
  return N**2
n=int(input("enter an integer "))
print(n,"square=",find_square(n))

Write a Pyhton function, find_sum()
that accepts an integer, n and returns the sum of first, n numbers.
Invoke the function and display the sum of first n numbers.
example: sample Input=6    output=21

In [ ]:
def find_sum(N):
  sum=0
  for i in range(N+1):
    sum=sum+i

  return sum

n=int(input("enter an integer   :"))
print("Sum of first n intreger is",find_sum(n))

enter an integer   :6
Sum of first n intreger is 21

The road transport corporation (RTC) of a city wants to know whether a particular bus-route is running on profit or loss.

Assume that the following information are given:
Price per litre of fuel = 70
Mileage of the bus in km/litre of fuel = 10
Price(Rs) per ticket = 80

The bus runs on multiple routes having different distance in kms and number of passengers.
Write a function to calculate and return the profit earned (Rs) in each route. Return -1 in case of loss.

Provide different values for distance, no_of_passenger and test your program
example:
distance=20
no_of_passengers=50
print(calculate(distance,no_of_passengers))

In [ ]:
def calculate(distance,no_of_passengers):

    no_of_litres=distance/10.0
    expense=no_of_litres*70.0
    amt_earned=no_of_passengers*80

    if amt_earned-expense>=0:
        return(amt_earned-expense)
    else:
        return(-1)

distance=float(input("Enter total distance covered : "))
passengers=int(input("Enter total no.of passengers : "))
profit=calculate(distance,passengers)

if profit>=0:
    print("Profit is ",profit)
else:
    print("Loss occurred and loss amount is ",profit)

Enter total distance covered : 20
Enter total no.of passengers : 50
Profit is  3860.0

Given a string containing uppercase characters (A-Z), compress the string using Run Length encoding. Repetition of character has to be replaced by storing the length of that run.

Write a python function which performs the run length encoding for a given String and returns the run length encoded String.

Provide different String values and test your program.

Sample Input	         Expected Output
AAAABBBBCCCCCCCC	          4A4B8C
AABCCA	                      2A1B2C1A

In [ ]:
def run_length_encoding(str2):

    ans=""
    length=len(str2)
    i=0

    while(i<=length-1):
        count=1
        ch=str2[i]
        j=i
        while(j<length-1):

            if str2[j]==str2[j+1]:
                count=count+1
                j=j+1
            else:
                break
        ans=ans+str(count)+ch
        i=j+1

    return(ans)


str1=input("Enter a string : ")
print(run_length_encoding(str1))

Enter a string : aagkkhk
2a1g2k1h1k

Write a function, check_palindrome() to check whether the given string is a palindrome or not. The function should return true if it is a palindrome else it should return false.

In [ ]:
def check_palindrome(s):
  return s == s[::-1]

s=input("enter a string   :")
ans = check_palindrome(s)

if ans==True:
    print("STRING IS PALINDROME")
else:
    print("STRING IS NOT PALINDROME")

enter a string   :sabhbas
STRING IS PALINDROME

Write a python program to display all the common characters between two strings. Return -1 if there are no matching characters.

Note: Ignore blank spaces if there are any. Perform case sensitive string comparison wherever necessary.

Sample Input:
string1= "I like Python"
string2="Java is a very popular language"
Expected output: 	lieyon

In [ ]:
def common(str1,str2):

    a=list(set(str1)&set(str2))
    ans=""
    for i in a:
        if i==" ":
            continue
        else:
            ans=ans+i
    return(ans)


str1=input("Enter string 1 : ")
str2=input("Enter string 2 : ")
print(common(str1,str2))

Enter string 1 : I like Python
Enter string 2 : Java is a very popular language
yeionl

Write a Python function to multiply all the numbers in a list.

In [ ]:
def multiply(list1):
    ans=1
    for i in list1:
        ans=ans*int(i)
    return ans

list1=[1,2,3,4,5]
print(multiply(list1))

120

Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [ ]:
def cal(str1):
    upper=0
    lower=0
    for i in range(len(str1)):
        x=str1[i].islower()
        if x==True:
            lower+=1
        else:
            upper+=1
    return(lower,upper)

str1=input("Enter a string : ")
l,u=cal(str1)
print("Lower case letters ",l)
print("Upper case letters ",u)

Enter a string : QWE#3qwe
Lower case letters  3
Upper case letters  5

Write a Python function that takes a number as a parameter and check the number is prime or not.return true if prime else false

In [ ]:
def prime(num):
    x=0
    for i in range(1,num//2+1):
        if num%i==0:
            return False
        else:
            pass
    return True

num=int(input("Enter a number : "))
print(prime(num))

Enter a number : 2
False