Write a Python program to print the next 15 leap years starting from a given year (read this as input). print the leap years in the same line

example:
1) input: 2002
    output: 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060

In [ ]:
yr=int(input("enter a year"))
y=yr
flag=0
while(True):
  y=y+1
  if y%4==0:
    if y%100==0:
      if y%400==0:
        flag=flag+1
        print(y)
      else:
        continue
    else:
      flag=flag+1
      print(y)
  else:
      continue
  if flag==15:
    break

enter a year2002
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060

Write a program to reverese the digits in an integer
example: Input:12345
         Output: 54321

In [ ]:
a=int(input("enter an integer:\n"))
rev=0
while(a>0):
    n=a%10
    rev=rev*10+n
    a=a//10
print(rev)

enter an integer:
123456
654321

Write a python function to check whether three given numbers can form the sides of a triangle.
Hint
: Three numbers can be the sides of a triangle if none of the numbers are greater than or equal to the sum of the other two numbers.

In [ ]:
s1=int(input("enter lengths of 3 sides of a triangle:"))
s2=int(input(":"))
s3=int(input(":"))
if(s1+s2<=s3 or s1+s3<=s2 or s2+s3<=s1):
  print("not sides of triangle")
else:
  print("sides of triangle")

enter lengths of 3 sides of a triangle:12
:24
:23
sides of triangle

The program provided in the starter code tab is written to display “*” as per the expected output given below. But the code is having logical errors, debug the program using Eclipse Debugger and correct it.


Expected Output:
*****
****
***
**
*

In [ ]:
#debug the below code
counter1=0
counter2=5
while(counter1 < 5):
  counter2=5
  star=""
  while(counter2>counter1):
     star=star+ "*"
     counter2-=1
  print(star)
  counter1+=1

*****
****
***
**
*

Write a python program to solve a classic ancient Chinese puzzle.

We input number of heads and number of legs among the chickens and rabbits in a farm. Program shd output number of rabbits and chickens.

Sample Input	                   Expected Output
heads-150 legs-400	                   100 50
heads-3 legs-11                  	No solution
heads-3 legs-12	                         0 3
heads-5 legs-10                        	5 0

In [ ]:
head=int(input("enter the number of head"))
legs=int(input("enter the number of legs"))

for i in range(head+1):
  j=head-i
  if((j*4)+(i*2)==legs):
    print(i,j)
    break
else:
  print("no solution")

enter the number of head150
enter the number of legs400
100 50

Write a python program which finds the maximum number from num1 to num2 (num2 inclusive) based on the following rules.

Always num1 should be less than num2
Consider each number from num1 to num2 (num2 inclusive). Display the number , if the below conditions are satisfied
i) Sum of the digits of the number is a multiple of 3
ii) Number has only two digits
iii) Number is a multiple of 5
iv) Display the maximum element from the list
v) In case of any invalid data or if the list is empty, display -1.

In [ ]:
num1=int(input("enter two numbers , 1st number should be less than second number\n: "))
num2=int(input(": "))
if(num2<num1):
  print(-1)
for i in range(num2,num1-1,-1):
  sum=0
  for j in str(i):
    sum=sum+int(i)
  if(sum%3==0 and len(str(i))==2 and i%5==0):
    print(i)
    break
else:
  print(-1)

enter two numbers , 1st number should be less than second number
: 10
: 20
15

Write a program for swapping of two numbers without using third variable

In [ ]:
a=int(input("enter value of a "))
b=int(input("enter value of b "))
a=a+b
b=a-b
a=a-b
print("a=",a,"\nb=",b)

enter value of a 456
enter value of b 123
a= 123
b= 456

Write a python program to print all prime numbers in given range. ex. (1,100)

In [ ]:
a=int(input("Enter lower range: "))
b=int(input("Enter upper range: "))
for i in range(a,b+1):
  if(i!=0 and i!=1):
    for j in range(2,i):
        if(i % j==0):
            break
    else:
        print(i)

Enter lower range: 0
Enter upper range: 13
2
3
5
7
11
13

Write a python program to perform the following
1) Read N and n as input (N shd be greater than 20, n shd be less than N)
2) find sum of first N natural numbers: sumN
3) find the sum of all even numbers :sumE
4) find the sum of all odd numbers:sumO
4) find sum of all numbers divisible by n:sumD
5) display all the sums

In [ ]:
print("Enter the value of N and n  input (N should be greater than 20, n should be less than N)\n ")
N=int(input("enter the value of N: "))
n=int(input("enter the value of n: "))
sumN=0
sumO=0
sumE=0
sumD=0
for i in range(N+1):
  sumN=sumN+i
  if(i%2==0):
    sumE=sumE+i
  else:
    sumO=sumO+i
  if(i%n==0):
    sumD=sumD+i

print("sumN=",sumN,"\nsumE=",sumE,"\nsumO=",sumO,"\nsumD=",sumD)

Enter the value of N and n  input (N should be greater than 20, n should be less than N)

enter the value of N: 150
enter the value of n: 3
sumN= 11325
sumE= 5700
sumO= 5625
sumD= 3825

Write a python program to print all prime numbers in given range. ex. (1,100)

In [ ]:
a=int(input("Enter lower range: "))
b=int(input("Enter upper range: "))
for i in range(a,b+1):
  if(i!=0 and i!=1):
    for j in range(2,i):
        if(i % j==0):
            break
    else:
        print(i)

Enter lower range: 1
Enter upper range: 10
2
3
5
7

python program to print the following pattern by accepting number of lines as input
example: 3
*
* *
* * *
example: 4
*
* *
* * *
* * * *

In [ ]:
n=int(input("enter the number of lines :"))
for i in range(n+1):
  for j in range(i):
    print("*",end=" ")
  print("")

enter the number of lines :5

*
* *
* * *
* * * *
* * * * *

python program to print the different pattern by accepting
a) character to be printed in the pattern
b) Pattern format (1,2,3)
c) number of lines as input

example:
1) ch=*, pattern=1 lines=3
*
* *
* * *
2) ch=*, pattern=2 lines=3
* * *
* *
*
3) ch=*, pattern=3 lines=3
* * *
  * *
    *
4) ch=$, pattern=3 lines=3
$ $ $
  $ $
    $

In [ ]:
ch=(input("enter the charecter to be printed  :"))
n=int(input("enter number of lines  :"))
p=int(input("enter the pattern(1,2 or 3) :"))
if(p==1):
  for i in range(n+1):
    for j in range(i):
      print(ch,end=" ")
    print("")
if(p==2):
  for i in range(n,0,-1):
    for j in range(i):
       print(ch,end=" ")
    print("")
if(p==3):
   for i in range(n,0,-1):
     for j in range(n-i):
         print(" ",end=" ")
     for k in range(i):
       print(ch,end=" ")
     print("")

enter the charecter to be printed  :#
enter number of lines  :5
enter the pattern(1,2 or 3) :3
# # # # #
  # # # #
    # # #
      # #
        #

Write a python program to find the sum of x+x2/2+x3/3+…..+xn/n by accepting x and n as input

In [ ]:
n=int(input("enter the value of n :"))
x=float(input("enter the value of x :"))
sum=0
i=1
while(i<=n):
  sum=sum+(x**i)/i
  i+=1
print("sum=",sum)

enter the value of n :2
enter the value of x :3
sum= 7.5

Write a python program to calculate the sum of digits of a number.

In [ ]:
a=b=int(input("enter a positive integer  :"))
sum=0
l=len(str(a))
while(a>0):
  sum=sum+a%10
  a=a//10
print("sum of all digits of",b,"is",sum)

enter a positive integer  :12345
sum of all digits of 12345 is 15

Write a python program to print the sum of the ASCII value of all characters of the input string.

In [ ]:
s=input("enter a string  :")
for i in s:
  print("ASCII value of",i,"is",ord(i))

enter a string  :Srisha
ASCII value of S is 83
ASCII value of r is 114
ASCII value of i is 105
ASCII value of s is 115
ASCII value of h is 104
ASCII value of a is 97

Write a python program to find HCF and LCM of two numbers.
 example:
 1) num1= 14, num2=56   
 output: HCF 14, LCM 56

In [ ]:
a=int(input("Enter 2 numbers: "))
b=int(input(":"))
if(a<b):
  smaller=a
else:
  smaller=b
for i in range(1,smaller+1):
  if(a%i==0 and b%i==0):
    hcf=i
print("H.C.F=",hcf,"\nL.C.M=",int(a*b/hcf))

Enter 2 numbers: 14
:14
H.C.F= 14
L.C.M= 14

An organization has decided to provide salary hike to its employees based on their job level. Employees can be in job levels 3, 4 or 5. Hike percentage based on job levels are given below:
Job level         Hike Percentage(applicable on current salary)
3                      15
4                       7
5                       5
In case of invalid job level, consider hike percentage to be 0.
Given the current salary and job level, write a python program to find and display the new salary of an employee.

In [ ]:
cs=int(input("enter your current salary :"))
jl=int(input("enter your job level :"))
if(jl==3):
  ns=cs+(15/100)*cs
  print("your new salary is ",ns)
elif(jl==4):
  ns=cs+(7/100)*cs
  print("your new salary is ",ns)
elif(jl==5):
  ns=cs+(5/100)*cs
  print("your new salary is ",ns)
else:
  ns=cs
  print("invalid job level\nnew salary is ",ns)

print("your new salary is ",ns)

enter your current salary :35000
enter your job level :3
your new salary is  40250.0
your new salary is  40250.0